* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  ---transform: all 500ms ease;
  --bg-color:#f8f8f8;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* sidebar */
nav a,
li {
  text-decoration: none;
  list-style-type: none;

}

nav {
  height: 5rem;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

nav .nav-bar{
  display: flex;
  margin: 0;
}

nav .nav-bar li {
  padding-right: 2rem;
}

nav .nav-bar li a {
  transition: var(--transition);
  color: var(--bs-gray);
}

nav .nav-bar li a:hover {
  color: var(--bs-primary);
}

nav .nav-bar li .a-active {
  color: var(--bs-primary);
}

.p-img {
  display: none;
}

.n-icon {
  display: none;
}

@media screen and (max-width:768px) {
  .p-img {
    display: block;
    width: 60%;
  }

  .n-icon {
    display: block;
    position: relative;
    right: 2.2rem;
    width: auto;
  }

  .n-icon .n-icon-1 {
    display: block;
    position: absolute;
    border-radius: 0.4rem;
    padding: 0.6rem;
    font-size: 1.6rem;
    background-color: var(--bs-primary);
    color: var(--bs-light);
    transition: var(---transform);
  }

  .n-icon .n-icon-1.hide {
    display: none;
  }

  .n-icon .n-icon-2 {
    display: none;
    position: absolute;
    padding: 0.6rem;
    font-size: 1.6rem;
    transition: var(---transform);
    color: var(--bs-gray);
  }

  .n-icon .n-icon-2.show {
    display: block;

  }

  .nav-bar {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

    background-color: var(--bs-white);
    transition: var(---transform);
  }

  /* .nav-bar.open {
    transform: translateX(0rem);
  } */

  nav .nav-bar li {
    margin: 1rem 0rem;
  }
}

/* sidebar */


/* header */
.cv-btn:hover{
  background-color: var(--bs-white);
  color:var(--bs-dark)
}
.contact-btn:hover {
  background-color: var(--bs-gray);
  color: var(--bs-white);
}
/* header */

/* reveal */
    .reveal {
      position: relative;
      transform: translateY(1rem);
      opacity: 0;
      transition: 1s all ease;
    }
  
    .reveal.active {
      transform: translateY(0);
      opacity: 1;
    }