* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

:root {
          --bs-blue: #0d6efd;
          --bs-indigo: #6610f2;
          --bs-purple: #6f42c1;
          --bs-pink: #d63384;
          --bs-red: #dc3545;
          --bs-orange: #fd7e14;
          --bs-yellow: #ffc107;
          --bs-green: #198754;
          --bs-teal: #20c997;
          --bs-cyan: #0dcaf0;
          --bs-white: #fff;
          --bs-gray: #6c757d;
          --bs-gray-dark: #343a40;
          --bs-primary: #0d6efd;
          --bs-secondary: #6c757d;
          --bs-success: #198754;
          --bs-info: #0dcaf0;
          --bs-warning: #ffc107;
          --bs-danger: #dc3545;
          --bs-light: #f8f9fa;
          --bs-dark: #212529;
          ---transition: all 500ms ease;
          --bg-color: #f8f8f8;
}

body {
          font-family: 'Montserrat', sans-serif;

}

/* sidebar */
.top-bar {
          transition: var(---transition);
}

.top-bar.active {
          height: 5rem;
          background-color: var(--bs-primary);
          position: fixed;
}

nav ul li,
a {
          list-style-type: none;
          text-decoration: none;
}

.s-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 5rem;
}

.nav-bar {
          display: flex;
          margin: 0;

}

.nav-bar li {
          padding-right: 3rem;
}

.nav-bar li a {
          color: var(--bs-gray-dark);
          font-weight: 400;
}

.nav-bar li a.active {
          color: var(--bs-primary)
}

.nav-bar li a:hover {
          color: var(--bs-primary);
}

.p-img {
          display: none;
}

.t-info {
          display: none;
}

.icons-btn {
          display: none;
}

.icons-btn .i-1 {
          display: none;
}

.icons-btn .i-2 {
          display: none;
}
/* portfolio */
.btn.active{
          background-color: var(--bs-secondary);
}
.image{
          height: 30rem;
          position: relative;
}
.image img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          position: absolute;
          filter: grayscale(0.8) brightness(0.7);
          overflow: hidden;
          transition:var(---transition);
          padding:1rem 1rem 1rem 0rem;
}
.image img:hover{
filter: grayscale(1) brightness(1);
}
.filterItem{
z-index: 0;
}

/* blog */
.blog-title{
          color:var(--bs-dark)
}
.blog-title:hover{
          text-decoration: underline;
}
.read-more:hover{
          text-decoration: underline;
}

/* portfolio */

/* contact */

@media screen and (max-width:998px) {
          .nav-bar {
                    position: absolute;
                    flex-direction: column;
                    background: var(--bs-white);
                    height: 100vh;
                    top: 0;
                    right: 0;
                    width: 100%;
                    transform: translateX(-100%);
                    align-items: center;
                    margin: auto;
                    padding-top: 4rem;
                    transition: var(---transition);
                    z-index: 1000;

          }

          .nav-bar.open {
                    transform: translateX(0);
          }

          .nav-bar li {
                    padding-top: 1.3rem;
          }

          .p-img {
                    height: 200px;
                    width: 200px;
                    border-radius: 100%;
                    object-fit: cover;
                    display: block;
                    border:1px solid var(--bs-gray);
          }

          .t-info {
                    display: block;
          }



          .icons-btn {
                    position: fixed;
                    background-color: #0d6efd;
                    display: block;
                    right: 0;
                    top: 0;
                    z-index:10000;
          }

          .icons-btn .i-1 {
                    display: block;
                    position: absolute;
                    right: 35;
                    top: 20;
                    padding: 0.7rem;
                    font-size: 1.5rem;
                    background-color: var(--bs-primary);
                    color: var(--bs-white);
                    border-radius: 60%;
          }

          .icons-btn .i-1.active {
                    display: none;
          }

          .icons-btn .i-2 {
                    position: absolute;
                    right: 35;
                    top: 20;
                    display: none;
                    padding: 0.7rem;
                    border-radius: 60%;
          }

          .icons-btn .i-2.show {
                    display: block;
                    font-size: 1.5rem;
                    background-color: var(--bs-primary);
                    color: var(--bs-white);
          }

          /* sidebar */


          /* header */
          .cv-btn:hover {
                    background-color: var(--bs-white);
                    color: var(--bs-dark)
          }

          .contact-btn:hover {
                    background-color: var(--bs-gray);
                    color: var(--bs-white);
          }
}

/* portfolio */
.p-sec{
          position: absolute;
}

/* portfolio */
